.container{
      margin-bottom: 80px;
}
.carouselBg{
      background-color: #fceae8;
}
.carousel-item{
      padding: 20px 75px;
}
.price{
      color: rgb(255, 0, 106);
}
.buy-button{
      border-radius: 8px;
      background-image:linear-gradient( to bottom,rgb(255, 0, 106),rgb(197, 0, 82));
      padding: 9px 25px;
      cursor: pointer;
      margin-top: 25px;
      color: lavender;
      border: none;
}
.buy-button:hover{
border: 1px solid lavender;
}
.cat1,.cat2,.cat3{
      padding: 10px 40px;
      border-radius: 12px;
      box-shadow: 5px 5px 10px gray;
}
.cat1{
      background-color: lightblue;
}
.cat2{
      background-color: lightgray;
}
.cat3{
      background-color: lightyellow;
}
.card{
      border: none;
      box-shadow: 5px 5px 10px rgb(184, 184, 184);
}
.card-footer{
      background-color: white;
      border: none;
}

#subscribe{
      background-color: #fceae8;
      margin: auto;
      height:300px;
      text-align: center;
      margin-bottom: 70px;
}
.form-control{
      margin-top: 20px;
}
footer{
      text-align: center;
}
